.custom-shape-divider-top-1671499999 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1671499999 svg {
    position: relative;
    display: block;
    width: calc(137% + 1.3px);
    height: 456px;
}

.custom-shape-divider-top-1671499999 .shape-fill {
    fill: #4DBB50;
}