body{
	background-color: lightslategray;
}
h1{
font-size: 30px;
}

h2{

font-size: 40px;
}

.big{
font-size: 90px;

}
.uppercase{
outline-color: darkred;
}

.mierda{color: orangered;}
.big.mierda{
color: navy;

}

H1 SPAN{
color:violet ;
}